*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
}
nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: white;
}

#banner{
    display: flex;
    justify-content: center;
    background-image: url('assets/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}
.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1 {
    color: white;
    font-size: 70px;
    text-shadow: 2px 2px 0px #000000;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner_headline h2 {
    color: white;
    font-size: 22px;
    text-shadow: 2px 2px 0px #000000;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}
.banner_options{
    height: 210px;
    display: flex;
}
.banner1,
.banner2,
.banner3 {
    flex: 1;
    padding: 20px;
}
.banner1 {
    background-color: #39aae1;
    color: white;
}
.banner2{
    background-color: #0079c7;
    color: white;
}
.banner3{
    background-color: #2b4c99;
    color: white;
}
.banner_title{
    font-size: 21px;
}
.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a {
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    color: #FFFFFF;
    font-size: 13px;
    text-decoration: none;
}
.banner_hour{
    border-bottom: 2px solid #FFFFFF;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}
#geral {
    display: flex;
    justify-content: center;
}
#geral section {
    flex: 2;
}
#geral aside {
    flex: 1;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text{
    color: black;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar{
    width: 50px;
    height: 3px;
    background-color: #36a9e1;
    margin-top: 10px;
}
.widget_body {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.quadrado {
    background-color: #36a9e1;
    margin: 10px;
    width: 120px;
    height: 120px; 
}
.body_text,
.body_tel,
.body_email,
.body_form {
    margin-top: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article a{
    text-decoration: none;
}
article .news_data{
    display: flex;
}
article .news_posted_at{
    background-color: #2b4c99;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-right: 3px;
}
article .news_comments{
    background-color: #39aae1;
    color: white;
    font-size: 12px;
    padding: 10px;
}
article .news_thumbnail {
    margin-top: 30px;
}
article .news_thumbnail img {
    width: 100%;
    height: auto;
}
article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 23px;
}
article .news_resume{
    font-size: 14px;
    color: #5c5c5c;
    line-height: 20px;
    margin-bottom: 30px;
}
footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.footer_menu a {
    text-decoration: none;
    color: white;
}
.footer_areaitem a{
    text-decoration: none;
}
.footer_menu{
    display: flex;
    color: white;  
}
.fm_1, .fm_2, .fm_3{
    flex: 1;
    color: white;
    padding: 20px;
}
.fm_1 {
    background-color: #39aae1;
    color: white;
}
.fm_2{
    background-color: #0079c7;
    color: white;
}
.fm_3{
    background-color: #2b4c99;
    color: white;
}
.footer_area{
    display: flex;
    color: white;
}
.footer_areaitem{
    flex: 1;
}
.flexColumn{
    flex-direction: column;
}
footer .widget_title_text{
    color: #FFFFFF;
}
.footer_copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}
.fm_title{
    font-size: 22px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.fm_text{
    font-size: 12px;
    padding-left: 20px;
    padding-bottom: 15px;
}
.clinica1{
    padding-top: 30px;
    padding-bottom: 30px;
    color: #b6b6b6;
}
.submenu1{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #b6b6b6;
    padding-right: 5px;
}
.submenu2 a {
    color: #dfdfdf;
}
.submenu2{
    color:#dfdfdf ;
    margin-top: 10px;
}
.noticia1, .noticia2, .noticia3{
    padding: 15px;
}
.submenu3 a {
    color:#dfdfdf;
}
.submenu3{
    color:#dfdfdf;
    font-size: 13px;
}
.tweet1, .tweet2, .tweet3, .tweet4 {
    padding: 15px;
}
.menuMobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm_line{
    height: 3px;
    background-color: #39aae1;
}

@media (max-width: 600px){
    .banner_headline{
        padding: 20px;
    }
    .banner_headline h1 {
        font-size: 45px;
    }
    .banner_headline h2 {
        font-size: 14px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
    #geral section{
        padding: 20px;
        padding-top: 500px;
    }
    #geral aside{
        padding: 20px;
    }
    .footer_menu{
        flex-direction: column;
    }
    .footer_area{
        flex-direction: column;
        padding: 20px;
    }
    .footer_copy{
        padding-left: 20px;
    }
    
    header .container{
        flex-direction: row;
    }
    #banner{
        height: 250px;
    }
    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #f5f5f5;
    }
    header{
        height: auto;
    }
    .logo {
        padding-left: 20px;
    }
    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}